:root {
    --primary-color: #0054A8;
    --secondary-color: #ffffff;
    --index-blue: #0054A8BF;
}


nav {
    background-color: var(--primary-color);
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
    height: 10vh;
    margin: 0;
}

nav img {
    width: auto;
    height: 100%;
    border-radius: 100%;
    
}
nav a:last-child {
    width: auto;
    height: 70%;
    border-radius: 100%;
    align-self: center;
}

body {
    padding: 0;
    margin: 0;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-size: cover;
    height: 90vh;
    
}

.hero-img::before { /*This allows for the blur affect*/
    background-image: url(Images/Hero.jpg);
    content: "";
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    z-index: -1;
    filter: blur(0.28125rem);
}

.structure1 {
    background-color: var(--index-blue);
    padding: 10% 5%;
    font-size: 1.5em;
    font-family: "Noto Sans", sans-serif;
    font-weight: 500;
    height: 30vh;
    width: 30vw;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#proceed {
    background-color:var(--secondary-color);
    color: black;
    border: black solid 3px;
    text-decoration: none;
    text-align: center;
    padding: 3% 7%;
    border-radius: 20px;
    width: 8vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Expenses {
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.Expense {
    width: 200px;
}
#Add-expense {
    width: 20vw;
    padding: 5px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.option {
    display: flex;
    height: 5vh;
    width: 100%;
    border-radius: 15px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    flex-direction: column;
    gap: 10px;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    padding: 2%;
    cursor: pointer;
} 
.option:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: var(--primary-color) solid 3px;
}
#careerList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    width: 90vw;
    gap: 40px;
    padding: 5%;
}

#main-content {
    display: flex;
}

@media screen and (max-width: 768px) {
    #careerList {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
    
    
}
@media screen and (max-width: 480px) {
    nav {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }
    nav img {
        height: 50px;
    }
    .hero-img {
        height: 50vh;
    }
}
