:root {
    --primary-color: #0054A8;
    --secondary-color: #ffffff;
    --index-blue: #0054A8BF;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


nav {
    background-color: var(--primary-color);
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
    height: 10vh;
    margin: 0;
}

nav img {
    width: auto;
    height: 100%;
    border-radius: 100%;
}
nav a:last-child {
    width: auto;
    height: 70%;
    border-radius: 100%;
    align-self: center;
}

body {
    padding: 0;
    margin: 0;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-size: cover;
    height: 90vh;
    
}

.hidden {
    visibility: hidden;
}

.hero-img::before { /*This allows for the blur affect*/
    background-image: url(Images/Hero.jpg);
    content: "";
    position: absolute;
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    z-index: -1;
    filter: blur(0.28125rem);
}

.structure1 {
    background-color: var(--index-blue);
    color: var(--secondary-color);
    padding: 4%;
    font-size: 1.5em;
    font-weight: 500;
    height: 30vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.looks-invisible {
    border:none;
    background-color: transparent;
    color: black;
}

#proceed {
    background-color:var(--secondary-color);
    color: black;
    border: black solid 3px;
    text-decoration: none;
    text-align: center;
    padding: 3% 7%;
    border-radius: 20px;
    width: 8vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Expenses {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    width: 40vw;
    align-items: center;
    text-align: center;

}
.Expense {
    width: 150px;
}
#Add-expense {
    width: 100%;
    text-align: center;
    align-self: center;
    justify-self: center;
    padding: 5px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.option {
    display: flex;
    height: 5vh;
    width: 100%;
    border-radius: 15px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    flex-direction: column;
    gap: 10px;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    padding: 2%;
    cursor: pointer;
} 
.option:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: var(--primary-color) solid 3px;
}
#careerList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    width: 90vw;
    gap: 40px;
    padding: 5%;
}

#main-content {
    display: flex;
    justify-content: space-around;
}

#container-Right {
    width: 30vw;
    margin: 45px;
    height: 500px;
}

header {
    display: flex;
    justify-content: center;
}

#Income {
    width: fit-content;
}

#circle-green {
    width: 50%;
    height: 50%;
    background-color: green;
}

.row-Aligned {
    display: flex;
    justify-content: space-between;
    width: 97%;
    background-color: lightblue;
    padding: 5px;
}

.Expense::before {
    content: "S";
    font-weight: bold;
}

#searchBar {
    align-self: center;
    width: 75vw;
    height: 30px;
    font-size: 24px;
    border: 1px solid black;
}
#searchBarAlign {
    justify-content: center;
    width: 100vw;
    text-align: center;
}

#mobile-wrap {
    display: flex;
}
#advice-container {
    justify-self: center;
    text-align: left;
}
section.EECU-special {
    color: white;
    background-color: var(--index-blue);
    padding: 10px;
    width: 100%;
    margin: 10px;
}

.negative {
    color: red;
    font-size: 48px;
}

.positive {
    color: greenyellow;
    font-size: 48px;
}

@media screen and (max-width: 768px) {
    #careerList {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
    
    
}

@media screen and (max-width: 1072px) {
    #Expenses {
        width: 50vw;
    }
    .structure1 {
        padding: 5%;
        font-size: 1.2em;
    }
    #proceed {
        width: 15vw;
        padding: 3%;
    }
    .center {
        text-align: center;
    }
    .Expense {
        width: 30%;
    }
    #careerList {
        grid-template-columns: repeat(auto-fill, minmax(40%, 2fr));
    }
    #mobile-wrap {
        flex-direction: column;
    }
    #container-Right {
        width: 50vw;
    }
    #container-Left {
        align-items: center;
    }
    .EECU-special {
        width:fit-content;
    }
} /*tablet responsive design*/

@media screen and (max-width: 860px) {
    .structure1 {
        width: 40vw;
    }
    .option {
        font-size: 18px;
        width: 70vw;
    }
    #careerList {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 5%;
    }
}

@media screen and (max-width: 640px) {
    nav {
        align-items: center;
        justify-content: space-between;
        padding: auto;
    }
    nav img {
        height: 50px;
    }
    .hero-img {
        height: 50vh;
    }
    .structure1 {
        width: 80vw;
        height: auto;
        margin-top: auto;
    }
} /*mobile responsive design
